#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on charger
    start dashd

on init
    # Fingerprint
    setprop vendor.boot.verifiedbootstate ${ro.boot.verifiedbootstate}
    setprop vendor.boot.hw_version ${ro.boot.hw_version}

    # Charger
    chown system system /dev/dash
    chmod 0664 /dev/dash

on fs
    # Update touchpanel firmware in case we ship newer firmware in /odm
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-004b/tp_fw_update 0
    write /sys/devices/platform/soc/a94000.i2c/i2c-4/4-0048/tp_fw_update 0

    # Charger
    chown system system /proc/enhance_dash

on early-boot
    # Radio
    exec_start oplus-sh
    setprop persist.radio.multisim.config ${vendor.radio.multisim.config}

    # SSR
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys7/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys8/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys9/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys10/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys11/restart_level RELATED

on boot
    # Display
    chmod 0666 /sys/class/drm/card0-DSI-1/aod
    chown system system /sys/class/drm/card0-DSI-1/aod
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_aod
    chown system system /sys/class/drm/card0-DSI-1/notify_aod
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness
    chmod 0666 /sys/class/drm/card0-DSI-1/dim_alpha
    chown system system /sys/class/drm/card0-DSI-1/dim_alpha
    chmod 0666 /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chown system system /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chmod 0666 /sys/class/drm/card0-DSI-1/dither_en
    chown system system /sys/class/drm/card0-DSI-1/dither_en
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_dim
    chown system system /sys/class/drm/card0-DSI-1/notify_dim
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chown system system /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chown system system /sys/class/drm/card0-DSI-1/hbm

    # Fingerprint
    chmod 0666 /sys/class/drm/card0-DSI-1/force_screenfp
    chown system system /sys/class/drm/card0-DSI-1/force_screenfp
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_fppress
    chown system system /sys/class/drm/card0-DSI-1/notify_fppress

    chmod 0666 /dev/goodix_fp
    chmod 0660 /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chown system system /sys/devices/platform/soc/soc:fingerprint_detect/sensor_version
    chmod 0666 /proc/touchpanel/touch_hold
    chown system system /proc/touchpanel/touch_hold
    chmod 0666 /dev/qseecom

    # Sensors
    chown system system /sys/devices/platform/soc/soc:sensor_fb/adsp_notify

on property:ro.boot.prjname=*
    # Display
    setprop ro.separate.soft ${ro.boot.prjname}

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 300: msm_drm
    # IRQ 338: kgsl_3d0_irq
    write /proc/irq/300/smp_affinity_list 2
    write /proc/irq/338/smp_affinity_list 1

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2769

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x2768
    write /config/usb_gadget/g1/idVendor 0x22D9

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2764

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2765

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2771

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2772

on property:sys.usb.config=rndis,none && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276A

on property:sys.usb.config=rndis,serial_cdev,diag && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2783

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276C

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,diag_mdm,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276E

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2767

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2775

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,none,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2766

service oplus-sh /odm/bin/init.oplus.sh
    user root
    group root
    oneshot

service oplus_sensor_fb /odm/bin/oplus_sensor_fb
    user system
    group system
    class late_start
    oneshot

service vendor.camera-provider-2-4 /vendor/bin/hw/android.hardware.camera.provider@2.4-service_64
    override
    interface android.hardware.camera.provider@2.4::ICameraProvider legacy/0
    interface vendor.qti.hardware.camera.postproc@1.0::IPostProcService camerapostprocservice
    class hal
    user cameraserver
    group audio camera input drmrpc oem_2907
    ioprio rt 4
    capabilities SYS_NICE
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/foreground/tasks

# Fix ADSP issue when booted with DASH connected.
on property:sys.boot_completed=1
    write /sys/module/smb5_lib/parameters/sys_boot_complete 1

service dashd /vendor/bin/dashd
    class core
    critical
    seclabel u:r:dashd:s0
    group root system
